.contact-page {
  height: 84vh;
  display: flex;
}

/* Style inputs */
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #e76f51;
  color: white;
  border-radius: 10px;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.contact-page .column {
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

.contact-page .row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-page .row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 960px) {
  .column,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}
